In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
dir_train = 'C:/Users/Mest/DSN/train.csv'
dir_test = 'C:/Users/Mest/DSN/test.csv'
dir_sub = 'C:/Users/Mest/DSN/sample_submission2.csv'

In [3]:
train = pd.read_csv(dir_train, low_memory = False)
test = pd.read_csv(dir_test, low_memory = False)
sub = pd.read_csv(dir_sub, low_memory = False)

In [4]:
train.head(5)

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0

In [5]:
total = train['Promoted_or_Not']
total.value_counts()

0    35071
1     3241
Name: Promoted_or_Not, dtype: int64

In [6]:
test.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,YAK/S/00005,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1976,7.5,2017,0,0,65,FCT,Yes,Married,No,No,1
1,YAK/S/00011,Information Technology and Solution Support,NaN,Male,Direct Internal process,2,1991,0.0,2018,0,0,69,OGUN,Yes,Married,No,No,1
2,YAK/S/00015,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1984,7.5,2012,0,0,76,KANO,Yes,Married,No,No,1
3,YAK/S/00016,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,2.5,2009,0,0,52,RIVERS,No,Single,No,No,1
4,YAK/S/00017,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1983,7.5,2014,1,0,69,FCT,Yes,Married,No,No,0

## I Tried to Understand my Data

In [7]:
train.groupby(['Qualification','Last_performance_score','Past_Disciplinary_Action','Foreign_schooled','Targets_met'])['Promoted_or_Not'].sum()

Qualification             Last_performance_score  Past_Disciplinary_Action  Foreign_schooled  Targets_met
First Degree or HND       0.0                     No                        No                0                7
                                                                                              1               13
                                                                            Yes               0               56
                                                                                              1              123
                                                  Yes                       No                0                0
                                                                            Yes               0                0
                                                                                              1                1
                          2.5                     No                        No                0                0
                                                                                              1                3
                                                                            Yes               0               14
                                                                                              1               28
                                                  Yes                       Yes               0                0
                                                                                              1                0
                          5.0                     No                        No                0                0
                                                                                              1                5
                                                                            Yes               0               31
                                                                                              1               51
                                                  Yes                       Yes               0                0
                                                                                              1                0
                          7.5                     No                        No                0               13
                                                                                              1               36
                                                                            Yes               0              167
                                                                                              1              354
                                                  Yes                       No                0                0
                                                                            Yes               0                1
                                                                                              1                3
                          10.0                    No                        No                0                3
                                                                                              1               23
                                                                            Yes               0               58
                                                                                              1              295
                                                                                                            ...
MSc, MBA and PhD          10.0                    Yes                       Yes               1                2
                          12.5                    No                        No                0               11
                                                                                              1               27
                                                                            Yes               0              123
                                                                                              1              286
                                                  Yes                       No                0                0
                                                                                              1                2
                                                                            Yes               0                0
                                                                                              1                1
Non-University Education  0.0                     No                        No                0                3
                                                                                              1                2
                                                                            Yes               0                3
                                                                                              1               16
                          2.5                     No                        No                0                0
                                                                            Yes               0                0
                                                                                              1                0
                          5.0                     No                        Yes               0                2
                                                  Yes                       Yes               0                0
                          7.5                     No                        No                0                0
                                                                                              1                1
                                                                            Yes               0                2
                                                                                              1                8
                          10.0                    No                        No                0                0
                                                                                              1                2
                                                                            Yes               0                0
                                                                                              1                1
                          12.5                    No                        No                0                0
                                                                                              1                1
                                                                            Yes               0                5
                                                                                              1                6
Name: Promoted_or_Not, Length: 99, dtype: int64

In [8]:
train['Promoted_or_Not'].mean()

0.08459490499060347

In [9]:
train.isnull().any()

EmployeeNo                             False
Division                               False
Qualification                           True
Gender                                 False
Channel_of_Recruitment                 False
Trainings_Attended                     False
Year_of_birth                          False
Last_performance_score                 False
Year_of_recruitment                    False
Targets_met                            False
Previous_Award                         False
Training_score_average                 False
State_Of_Origin                        False
Foreign_schooled                       False
Marital_Status                         False
Past_Disciplinary_Action               False
Previous_IntraDepartmental_Movement    False
No_of_previous_employers               False
Promoted_or_Not                        False
dtype: bool

In [10]:
test.isnull().any()

EmployeeNo                             False
Division                               False
Qualification                           True
Gender                                 False
Channel_of_Recruitment                 False
Trainings_Attended                     False
Year_of_birth                          False
Last_performance_score                 False
Year_of_recruitment                    False
Targets_met                            False
Previous_Award                         False
Training_score_average                 False
State_Of_Origin                        False
Foreign_schooled                       False
Marital_Status                         False
Past_Disciplinary_Action               False
Previous_IntraDepartmental_Movement    False
No_of_previous_employers               False
dtype: bool

In [11]:
test.dropna

<bound method DataFrame.dropna of         EmployeeNo                                     Division  \
0      YAK/S/00005  Information Technology and Solution Support
1      YAK/S/00011  Information Technology and Solution Support
2      YAK/S/00015                      Research and Innovation
3      YAK/S/00016        Customer Support and Field Operations
4      YAK/S/00017  Information Technology and Solution Support
5      YAK/S/00019               Commercial Sales and Marketing
6      YAK/S/00027                      Sourcing and Purchasing
7      YAK/S/00028  Information Technology and Solution Support
8      YAK/S/00031                      Sourcing and Purchasing
9      YAK/S/00032                  Business Finance Operations
10     YAK/S/00034        Customer Support and Field Operations
11     YAK/S/00038               Commercial Sales and Marketing
12     YAK/S/00040               Commercial Sales and Marketing
13     YAK/S/00041  Information Technology and Solution Support
14     YAK/S/00043                         People/HR Management
15     YAK/S/00045                     Information and Strategy
16     YAK/S/00047                      Sourcing and Purchasing
17     YAK/S/00049               Commercial Sales and Marketing
18     YAK/S/00050                      Sourcing and Purchasing
19     YAK/S/00051                  Business Finance Operations
20     YAK/S/00058                      Research and Innovation
21     YAK/S/00060               Commercial Sales and Marketing
22     YAK/S/00063                     Information and Strategy
23     YAK/S/00067                  Business Finance Operations
24     YAK/S/00069                      Sourcing and Purchasing
25     YAK/S/00072  Information Technology and Solution Support
26     YAK/S/00080               Commercial Sales and Marketing
27     YAK/S/00083               Commercial Sales and Marketing
28     YAK/S/00084                      Research and Innovation
29     YAK/S/00088               Commercial Sales and Marketing
...            ...                                          ...
16466  YAK/S/54726                  Business Finance Operations
16467  YAK/S/54738                      Sourcing and Purchasing
16468  YAK/S/54742               Commercial Sales and Marketing
16469  YAK/S/54743               Commercial Sales and Marketing
16470  YAK/S/54744  Information Technology and Solution Support
16471  YAK/S/54748               Commercial Sales and Marketing
16472  YAK/S/54752  Information Technology and Solution Support
16473  YAK/S/54754        Customer Support and Field Operations
16474  YAK/S/54755  Information Technology and Solution Support
16475  YAK/S/54757        Customer Support and Field Operations
16476  YAK/S/54758  Information Technology and Solution Support
16477  YAK/S/54760               Commercial Sales and Marketing
16478  YAK/S/54762                      Sourcing and Purchasing
16479  YAK/S/54767        Customer Support and Field Operations
16480  YAK/S/54768               Commercial Sales and Marketing
16481  YAK/S/54773        Customer Support and Field Operations
16482  YAK/S/54776        Customer Support and Field Operations
16483  YAK/S/54778  Information Technology and Solution Support
16484  YAK/S/54780  Information Technology and Solution Support
16485  YAK/S/54782                         People/HR Management
16486  YAK/S/54784                      Sourcing and Purchasing
16487  YAK/S/54785               Commercial Sales and Marketing
16488  YAK/S/54787               Commercial Sales and Marketing
16489  YAK/S/54792  Information Technology and Solution Support
16490  YAK/S/54795        Customer Support and Field Operations
16491  YAK/S/54797               Commercial Sales and Marketing
16492  YAK/S/54798               Commercial Sales and Marketing
16493  YAK/S/54800                      Sourcing and Purchasing
16494  YAK/S/54803               Commercial Sales and Marketing
16495  YAK/S/54804  Information Technology and Solution Support

                  Qualification  Gender   Channel_of_Recruitment  \
0           First Degree or HND    Male        Agency and others
1                           NaN    Male  Direct Internal process
2              MSc, MBA and PhD    Male  Direct Internal process
3           First Degree or HND    Male        Agency and others
4           First Degree or HND    Male        Agency and others
5           First Degree or HND    Male        Agency and others
6           First Degree or HND    Male        Agency and others
7           First Degree or HND    Male        Agency and others
8           First Degree or HND    Male  Direct Internal process
9           First Degree or HND    Male        Agency and others
10          First Degree or HND    Male  Direct Internal process
11          First Degree or HND  Female  Direct Internal process
12          First Degree or HND    Male  Direct Internal process
13          First Degree or HND    Male        Agency and others
14          First Degree or HND    Male  Direct Internal process
15          First Degree or HND    Male        Agency and others
16             MSc, MBA and PhD  Female        Agency and others
17          First Degree or HND    Male  Direct Internal process
18             MSc, MBA and PhD  Female  Direct Internal process
19          First Degree or HND    Male  Direct Internal process
20             MSc, MBA and PhD    Male  Direct Internal process
21          First Degree or HND    Male        Agency and others
22          First Degree or HND  Female        Agency and others
23          First Degree or HND    Male        Agency and others
24          First Degree or HND    Male        Agency and others
25             MSc, MBA and PhD    Male        Agency and others
26          First Degree or HND    Male  Direct Internal process
27                          NaN    Male  Direct Internal process
28          First Degree or HND    Male        Agency and others
29                          NaN    Male  Direct Internal process
...                         ...     ...                      ...
16466       First Degree or HND  Female        Agency and others
16467       First Degree or HND    Male        Agency and others
16468       First Degree or HND    Male        Agency and others
16469                       NaN    Male        Agency and others
16470       First Degree or HND    Male  Direct Internal process
16471       First Degree or HND    Male        Agency and others
16472          MSc, MBA and PhD  Female        Agency and others
16473       First Degree or HND  Female  Direct Internal process
16474       First Degree or HND  Female        Agency and others
16475       First Degree or HND  Female  Direct Internal process
16476          MSc, MBA and PhD    Male        Agency and others
16477          MSc, MBA and PhD    Male        Agency and others
16478       First Degree or HND  Female  Direct Internal process
16479       First Degree or HND    Male  Direct Internal process
16480       First Degree or HND    Male        Agency and others
16481          MSc, MBA and PhD    Male        Agency and others
16482       First Degree or HND    Male        Agency and others
16483       First Degree or HND    Male        Agency and others
16484       First Degree or HND  Female  Direct Internal process
16485       First Degree or HND  Female  Direct Internal process
16486  Non-University Education    Male        Agency and others
16487       First Degree or HND    Male        Agency and others
16488       First Degree or HND  Female  Direct Internal process
16489       First Degree or HND    Male  Direct Internal process
16490       First Degree or HND    Male        Agency and others
16491          MSc, MBA and PhD    Male        Agency and others
16492       First Degree or HND    Male  Direct Internal process
16493          MSc, MBA and PhD  Female        Agency and others
16494       First Degree or HND    Male        Agency and others
16495       First Degree or HND    Male  Direct Internal process

       Trainings_Attended  Year_of_birth  Last_performance_score  \
0                       2           1976                     7.5
1                       2           1991                     0.0
2                       2           1984                     7.5
3                       2           1984                     2.5
4                       2           1983                     7.5
5                       2           1987                    12.5
6                       2           1990                    12.5
7                       2           1988                    10.0
8                       2           1984                    12.5
9                       3           1995                     2.5
10                      3           1964                    10.0
11                      2           1981                    12.5
12                      2           1988                    12.5
13                      2           1987                     7.5
14                      2           1962                    10.0
15                      2           1977                    12.5
16                      2           1984                    10.0
17                      2           1991                     7.5
18                      2           1965                     7.5
19                      2           2001                    10.0
20                      2           1981                     7.5
21                      2           1981                    10.0
22                      2           1993                     0.0
23                      2           1994                     0.0
24                      2           1991                    10.0
25                      2           1987                    12.5
26                      2           1991                     7.5
27                      3           1996                     7.5
28                      2           1985                    10.0
29                      2           1982                     2.5
...                   ...            ...                     ...
16466                   2           1990                     7.5
16467                   2           1990                     7.5
16468                   2           1990                    12.5
16469                   2           1993                    10.0
16470                   3           1985                    10.0
16471                   2           1986                     5.0
16472                   2           1980                     2.5
16473                   2           1996                    12.5
16474                   2           1979                     7.5
16475                   2           1986                    12.5
16476                   2           1967                    10.0
16477                   4           1986                     2.5
16478                   2           1991                    10.0
16479                   2           1984                     7.5
16480                   2           1972                    10.0
16481                   2           1984                    12.5
16482                   2           1991                     2.5
16483                   2           1969                     5.0
16484                   2           1987                     7.5
16485                   2           1983                    12.5
16486                   4           1998                     7.5
16487                   2           1982                    12.5
16488                   3           1990                     2.5
16489                   2           1989                     2.5
16490                   2           1984                    10.0
16491                   2           1987                     7.5
16492                   2           1993                    12.5
16493                   2           1971                    12.5
16494                   3           1990                     2.5
16495                   2           1973                     7.5

       Year_of_recruitment  Targets_met  Previous_Award  \
0                     2017            0               0
1                     2018            0               0
2                     2012            0               0
3                     2009            0               0
4                     2014            1               0
5                     2011            1               0
6                     2015            1               0
7                     2015            0               0
8                     2009            1               0
9                     2017            0               0
10                    2013            0               0
11                    2016            0               0
12                    2013            1               0
13                    2009            0               0
14                    1993            1               0
15                    2007            0               0
16                    2015            0               0
17                    2016            1               0
18                    2007            0               0
19                    2017            1               0
20                    2014            1               0
21                    2012            0               0
22                    2018            1               0
23                    2018            1               1
24                    2013            1               0
25                    2012            1               0
26                    2016            0               0
27                    2017            0               0
28                    2011            0               0
29                    2010            0               0
...                    ...          ...             ...
16466                 2011            0               0
16467                 2012            0               0
16468                 2014            1               0
16469                 2016            0               0
16470                 2016            0               0
16471                 2011            0               0
16472                 2009            0               0
16473                 2017            1               0
16474                 2005            0               0
16475                 2015            0               0
16476                 2012            0               0
16477                 2009            0               0
16478                 2017            1               0
16479                 2016            1               0
16480                 2014            0               0
16481                 2017            1               1
16482                 2015            0               0
16483                 2016            0               0
16484                 2016            0               0
16485                 2016            1               0
16486                 2017            0               0
16487                 2010            0               0
16488                 2015            0               0
16489                 2016            1               0
16490                 2012            1               0
16491                 2012            0               0
16492                 2016            1               1
16493                 2013            1               1
16494                 2017            0               0
16495                 2002            0               0

       Training_score_average State_Of_Origin Foreign_schooled Marital_Status  \
0                          65             FCT              Yes        Married
1                          69            OGUN              Yes        Married
2                          76            KANO              Yes        Married
3                          52          RIVERS               No         Single
4                          69             FCT              Yes        Married
5                          38           BENUE              Yes        Married
6                          60             FCT              Yes        Married
7                          71             FCT              Yes        Married
8                          64           LAGOS              Yes        Married
9                          53          RIVERS              Yes        Married
10                         50           LAGOS              Yes        Married
11                         39             FCT              Yes         Single
12                         43             OYO              Yes        Married
13                         72            KANO              Yes         Single
14                         44          RIVERS              Yes        Married
15                         80           BORNO              Yes         Single
16                         63         KATSINA              Yes        Married
17                         41            KANO              Yes        Married
18                         65             FCT              Yes        Married
19                         52     CROSS RIVER               No        Married
20                         76            OGUN              Yes        Married
21                         44          KADUNA              Yes        Married
22                         72             OYO              Yes        Married
23                         50           DELTA              Yes        Married
24                         67             FCT              Yes        Married
25                         70           LAGOS              Yes        Married
26                         50             IMO              Yes        Married
27                         45             FCT              Yes        Married
28                         74             IMO              Yes        Married
29                         41            ONDO              Yes        Married
...                       ...             ...              ...            ...
16466                      51          KADUNA              Yes        Married
16467                      58     CROSS RIVER              Yes        Married
16468                      45            KANO              Yes        Married
16469                      39           ENUGU              Yes         Single
16470                      73           KWARA              Yes         Single
16471                      42          BAUCHI              Yes        Married
16472                      72           LAGOS              Yes        Married
16473                      51          JIGAWA              Yes        Married
16474                      71           KWARA              Yes        Married
16475                      55          SOKOTO              Yes        Married
16476                      73            KANO               No        Married
16477                      43           DELTA              Yes        Married
16478                      78            ABIA              Yes        Married
16479                      47          RIVERS              Yes        Married
16480                      39           LAGOS              Yes        Married
16481                      49             EDO              Yes         Single
16482                      52           KWARA              Yes        Married
16483                      69           LAGOS              Yes         Single
16484                      78           DELTA              Yes        Married
16485                      42           KEBBI               No         Single
16486                      63            OGUN              Yes        Married
16487                      40           LAGOS              Yes        Married
16488                      43             FCT              Yes         Single
16489                      74         PLATEAU              Yes        Married
16490                      46           LAGOS              Yes        Married

In [12]:
train['dif'], test['dif'] = 'train', 'test'

In [13]:
data = pd.concat([train, test])
data.shape, train.shape, test.shape

C:\Users\Mest\Anaconda3.2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

((54808, 20), (38312, 20), (16496, 19))

In [14]:
data.head()

,Channel_of_Recruitment,Division,EmployeeNo,Foreign_schooled,Gender,Last_performance_score,Marital_Status,No_of_previous_employers,Past_Disciplinary_Action,Previous_Award,Previous_IntraDepartmental_Movement,Promoted_or_Not,Qualification,State_Of_Origin,Targets_met,Training_score_average,Trainings_Attended,Year_of_birth,Year_of_recruitment,dif
0,Direct Internal process,Commercial Sales and Marketing,YAK/S/00001,No,Female,12.5,Married,0,No,0,No,0.0,"MSc, MBA and PhD",ANAMBRA,1,41,2,1986,2011,train
1,Agency and others,Customer Support and Field Operations,YAK/S/00002,Yes,Male,12.5,Married,0,No,0,No,0.0,First Degree or HND,ANAMBRA,0,52,2,1991,2015,train
2,Direct Internal process,Commercial Sales and Marketing,YAK/S/00003,Yes,Male,7.5,Married,0,No,0,No,0.0,First Degree or HND,KATSINA,0,42,2,1987,2012,train
3,Agency and others,Commercial Sales and Marketing,YAK/S/00004,Yes,Male,2.5,Single,1,No,0,No,0.0,First Degree or HND,NIGER,0,42,3,1982,2009,train
4,Direct Internal process,Information and Strategy,YAK/S/00006,Yes,Male,7.5,Married,1,No,0,No,0.0,First Degree or HND,AKWA IBOM,0,77,3,1990,2012,train

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54808 entries, 0 to 16495
Data columns (total 20 columns):
Channel_of_Recruitment                 54808 non-null object
Division                               54808 non-null object
EmployeeNo                             54808 non-null object
Foreign_schooled                       54808 non-null object
Gender                                 54808 non-null object
Last_performance_score                 54808 non-null float64
Marital_Status                         54808 non-null object
No_of_previous_employers               54808 non-null object
Past_Disciplinary_Action               54808 non-null object
Previous_Award                         54808 non-null int64
Previous_IntraDepartmental_Movement    54808 non-null object
Promoted_or_Not                        38312 non-null float64
Qualification                          52399 non-null object
State_Of_Origin                        54808 non-null object
Targets_met                            54808 non-null int64
Training_score_average                 54808 non-null int64
Trainings_Attended                     54808 non-null int64
Year_of_birth                          54808 non-null int64
Year_of_recruitment                    54808 non-null int64
dif                                    54808 non-null object
dtypes: float64(2), int64(6), object(12)
memory usage: 8.8+ MB

In [16]:
data.isnull().sum()

Channel_of_Recruitment                     0
Division                                   0
EmployeeNo                                 0
Foreign_schooled                           0
Gender                                     0
Last_performance_score                     0
Marital_Status                             0
No_of_previous_employers                   0
Past_Disciplinary_Action                   0
Previous_Award                             0
Previous_IntraDepartmental_Movement        0
Promoted_or_Not                        16496
Qualification                           2409
State_Of_Origin                            0
Targets_met                                0
Training_score_average                     0
Trainings_Attended                         0
Year_of_birth                              0
Year_of_recruitment                        0
dif                                        0
dtype: int64

In [17]:
data['State_Of_Origin'].fillna('None', inplace = True)

# changes

In [18]:
data.describe()

,Last_performance_score,Previous_Award,Promoted_or_Not,Targets_met,Training_score_average,Trainings_Attended,Year_of_birth,Year_of_recruitment
count,54808.000000,54808.000000,38312.000000,54808.000000,54808.000000,54808.000000,54808.000000,54808.000000
mean,7.696869,0.023172,0.084595,0.351974,55.386750,2.253011,1986.194826,2013.134488
std,3.741146,0.150450,0.278282,0.477590,13.371559,0.609264,7.664765,4.265094
min,0.000000,0.000000,0.000000,0.000000,31.000000,2.000000,1950.000000,1982.000000
25%,5.000000,0.000000,0.000000,0.000000,43.000000,2.000000,1982.000000,2012.000000
50%,7.500000,0.000000,0.000000,0.000000,52.000000,2.000000,1988.000000,2014.000000
75%,10.000000,0.000000,0.000000,1.000000,68.000000,2.000000,1992.000000,2016.000000
max,12.500000,1.000000,1.000000,1.000000,91.000000,11.000000,2001.000000,2018.000000

In [19]:
data.describe(include='O')

,Channel_of_Recruitment,Division,EmployeeNo,Foreign_schooled,Gender,Marital_Status,No_of_previous_employers,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,Qualification,State_Of_Origin,dif
count,54808,54808,54808,54808,54808,54808,54808,54808,54808,52399,54808,54808
unique,3,9,54808,2,2,3,7,2,2,3,37,2
top,Agency and others,Commercial Sales and Marketing,YAK/S/52220,Yes,Male,Married,1,No,No,First Degree or HND,LAGOS,train
freq,30446,16840,1,50081,38496,44470,26927,54578,49663,36669,8959,38312

In [20]:
safe = 'EmployeeNo', 'dif'
obj = data.columns[data.dtypes == object]
obj

Index(['Channel_of_Recruitment', 'Division', 'EmployeeNo', 'Foreign_schooled',
       'Gender', 'Marital_Status', 'No_of_previous_employers',
       'Past_Disciplinary_Action', 'Previous_IntraDepartmental_Movement',
       'Qualification', 'State_Of_Origin', 'dif'],
      dtype='object')

In [21]:
obj = list(obj)



obj = [e for e in obj if e not in ('EmployeeNo', 'dif')]
obj

['Channel_of_Recruitment',
 'Division',
 'Foreign_schooled',
 'Gender',
 'Marital_Status',
 'No_of_previous_employers',
 'Past_Disciplinary_Action',
 'Previous_IntraDepartmental_Movement',
 'Qualification',
 'State_Of_Origin']

In [22]:
obj

['Channel_of_Recruitment',
 'Division',
 'Foreign_schooled',
 'Gender',
 'Marital_Status',
 'No_of_previous_employers',
 'Past_Disciplinary_Action',
 'Previous_IntraDepartmental_Movement',
 'Qualification',
 'State_Of_Origin']

In [23]:
data.head()

,Channel_of_Recruitment,Division,EmployeeNo,Foreign_schooled,Gender,Last_performance_score,Marital_Status,No_of_previous_employers,Past_Disciplinary_Action,Previous_Award,Previous_IntraDepartmental_Movement,Promoted_or_Not,Qualification,State_Of_Origin,Targets_met,Training_score_average,Trainings_Attended,Year_of_birth,Year_of_recruitment,dif
0,Direct Internal process,Commercial Sales and Marketing,YAK/S/00001,No,Female,12.5,Married,0,No,0,No,0.0,"MSc, MBA and PhD",ANAMBRA,1,41,2,1986,2011,train
1,Agency and others,Customer Support and Field Operations,YAK/S/00002,Yes,Male,12.5,Married,0,No,0,No,0.0,First Degree or HND,ANAMBRA,0,52,2,1991,2015,train
2,Direct Internal process,Commercial Sales and Marketing,YAK/S/00003,Yes,Male,7.5,Married,0,No,0,No,0.0,First Degree or HND,KATSINA,0,42,2,1987,2012,train
3,Agency and others,Commercial Sales and Marketing,YAK/S/00004,Yes,Male,2.5,Single,1,No,0,No,0.0,First Degree or HND,NIGER,0,42,3,1982,2009,train
4,Direct Internal process,Information and Strategy,YAK/S/00006,Yes,Male,7.5,Married,1,No,0,No,0.0,First Degree or HND,AKWA IBOM,0,77,3,1990,2012,train

In [24]:
obj

['Channel_of_Recruitment',
 'Division',
 'Foreign_schooled',
 'Gender',
 'Marital_Status',
 'No_of_previous_employers',
 'Past_Disciplinary_Action',
 'Previous_IntraDepartmental_Movement',
 'Qualification',
 'State_Of_Origin']

In [25]:
data[obj]

,Channel_of_Recruitment,Division,Foreign_schooled,Gender,Marital_Status,No_of_previous_employers,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,Qualification,State_Of_Origin
0,Direct Internal process,Commercial Sales and Marketing,No,Female,Married,0,No,No,"MSc, MBA and PhD",ANAMBRA
1,Agency and others,Customer Support and Field Operations,Yes,Male,Married,0,No,No,First Degree or HND,ANAMBRA
2,Direct Internal process,Commercial Sales and Marketing,Yes,Male,Married,0,No,No,First Degree or HND,KATSINA
3,Agency and others,Commercial Sales and Marketing,Yes,Male,Single,1,No,No,First Degree or HND,NIGER
4,Direct Internal process,Information and Strategy,Yes,Male,Married,1,No,No,First Degree or HND,AKWA IBOM
5,Agency and others,Customer Support and Field Operations,Yes,Female,Married,1,No,Yes,First Degree or HND,ENUGU
6,Direct Internal process,Customer Support and Field Operations,No,Male,Single,1,No,No,"MSc, MBA and PhD",OYO
7,Agency and others,Information and Strategy,Yes,Male,Married,0,No,No,First Degree or HND,LAGOS
8,Direct Internal process,Commercial Sales and Marketing,Yes,Male,Married,0,No,No,"MSc, MBA and PhD",ONDO
9,Direct Internal process,Commercial Sales and Marketing,Yes,Female,Married,0,No,No,First Degree or HND,LAGOS
10,Direct Internal process,Commercial Sales and Marketing,Yes,Male,Married,1,No,Yes,First Degree or HND,KWARA
11,Agency and others,Information Technology and Solution Support,Yes,Male,Married,0,No,No,"MSc, MBA and PhD",EDO
12,Agency and others,Commercial Sales and Marketing,Yes,Male,Single,1,No,Yes,First Degree or HND,LAGOS
13,Agency and others,Customer Support and Field Operations,Yes,Male,Married,1,No,No,First Degree or HND,BAUCHI
14,Agency and others,Sourcing and Purchasing,Yes,Male,Married,0,No,No,First Degree or HND,TARABA
15,Direct Internal process,Customer Support and Field Operations,Yes,Male,Married,1,No,No,NaN,RIVERS
16,Agency and others,Business Finance Operations,Yes,Female,Married,4,No,No,First Degree or HND,KADUNA
17,Agency and others,Sourcing and Purchasing,Yes,Male,Single,4,No,No,First Degree or HND,LAGOS
18,Direct Internal process,Business Finance Operations,Yes,Male,Single,0,No,Yes,"MSc, MBA and PhD",PLATEAU
19,Agency and others,Information Technology and Solution Support,Yes,Male,Married,1,No,No,First Degree or HND,LAGOS
20,Agency and others,Information and Strategy,Yes,Male,Married,1,No,No,First Degree or HND,LAGOS
21,Direct Internal process,Commercial Sales and Marketing,Yes,Male,Married,1,No,No,First Degree or HND,EKITI
22,Direct Internal process,Commercial Sales and Marketing,Yes,Female,Married,1,No,No,NaN,EDO
23,Agency and others,Information and Strategy,Yes,Male,Married,0,No,No,First Degree or HND,BORNO
24,Agency and others,Commercial Sales and Marketing,Yes,Male,Single,3,No,No,First Degree or HND,BORNO
25,Direct Internal process,Information Technology and Solution Support,Yes,Male,Married,1,No,No,First Degree or HND,LAGOS
26,Agency and others,Commercial Sales and Marketing,Yes,Male,Married,1,No,No,"MSc, MBA and PhD",IMO
27,Agency and others,Customer Support and Field Operations,Yes,Female,Single,1,No,Yes,First Degree or HND,LAGOS
28,Agency and others,Commercial Sales and Marketing,Yes,Male,Married,1,No,No,NaN,CROSS RIVER
29,Direct Internal process,Sourcing and Purchasing,No,Female,Married,2,No,Yes,First Degree or HND,KANO
...,...,...,...,...,...,...,...,...,...,...
16466,Agency and others,Business Finance Operations,Yes,Female,Married,1,No,Yes,First Degree or HND,KADUNA
16467,Agency and others,Sourcing and Purchasing,Yes,Male,Married,0,No,No,First Degree or HND,CROSS RIVER
16468,Agency and others,Commercial Sales and Marketing,Yes,Male,Married,0,No,Yes,First Degree or HND,KANO
16469,Agency and others,Commercial Sales and Marketing,Yes,Male,Single,1,No,No,NaN,ENUGU
16470,Direct Internal process,Information Technology and Solution Support,Yes,Male,Single,0,No,No,First Degree or HND,KWARA
16471,Agency and others,Commercial Sales and Marketing,Yes,Male,Married,1,No,No,First Degree or HND,BAUCHI
16472,Agency and others,Information Technology and Solution Support,Yes,Female,Married,0,No,No,"MSc, MBA and PhD",LAGOS
16473,Direct Internal process,Customer Support and Field Operations,Yes,Female,Married,2,No,No,First Degree or HND,JIGAWA
16474,Agency and others,Information Technology and Solution Support,Yes,Female,Married,1,No,No,First Degree or HND,KWARA
16475,Direct Internal process,Customer Support and Field Operations,Yes,Female,Married,1,No,No,First Degree or HND,SOKOTO
16476,Agency and others,Information Technology and Solution Support,No,Male,Married,0,No,No,"MSc, MBA and PhD",KANO
16477,Agency and others,Commercial Sales and Marketing,Yes,Male,Married,3,No,No,"MSc, MBA and PhD",DELTA
16478,Direct Internal process,Sourcing and Purchasing,Yes,Female,Married,1,No,No,First Degree or HND,ABIA
16479,Direct Internal process,Customer Support and Field Operations,Yes,Male,Married,0,No,Yes,First Degree or HND,RIVERS
16480,Agency and others,Commercial Sales and Marketing,Yes,Male,Married,1,No,No,First Degree or HND,LAGOS
16481,Agency and others,Customer Support and Field Operations,Yes,Male,Single,1,No,No,"MSc, MBA and PhD",EDO
16482,Agency and others,Customer Support and Field Operations,Yes,Male,Married,0,No,No,First Degree or HND,KWARA
16483,Agency and others,Information Technology and Solution Support,Yes,Male,Single,0,No,No,First Degree or HND,LAGOS
16484,Direct Internal process,Information Technology and Solution Support,Yes,Female,Married,5,No,No,First Degree or HND,DELTA
16485,Direct Internal process,People/HR Management,No,Female,Single,4,No,No,First Degree or HND,KEBBI
16486,Agency and others,Sourcing and Purchasing,Yes,Male,Married,0,No,No,Non-University Education,OGUN
16487,Agency and others,Commercial Sales and Marketing,Yes,Male,Married,0,No,No,First Degree or HND,LAGOS
16488,Direct Internal process,Commercial Sales and Marketing,Yes,Female,Single,2,No,No,First Degree or HND,FCT
16489,Direct Internal process,Information Technology and Solution Support,Yes,Male,Married,1,No,No,First Degree or HND,PLATEAU
16490,Agency and others,Customer Support and Field Operations,Yes,Male,Married,1,No,Yes,First Degree or HND,LAGOS
16491,Agency and others,Commercial Sales and Marketing,Yes,Male,Married,1,No,No,"MSc, MBA and PhD",PLATEAU
16492,Direct Internal process,Commercial Sales and Marketing,Yes,Male,Single,0,No,No,First Degree or HND,OGUN
16493,Agency and others,Sourcing and Purchasing,Yes,Female,Married,0,No,No,"MSc, MBA and PhD",NASSARAWA
16494,Agency and others,Commercial Sales and Marketing,Yes,Male,Married,3,No,No,First Degree or HND,OGUN
16495,Direct Internal process,Information Technology and Solution Support,Yes,Male,Married,1,No,No,First Degree or HND,ANAMBRA

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [27]:
for jects in obj:
    print(jects)
    try:
        data[jects] = le.fit_transform(data[jects])
    except:
        data[jects] = le.fit_transform(data[jects].astype(str))

Channel_of_Recruitment
Division
Foreign_schooled
Gender
Marital_Status
No_of_previous_employers
Past_Disciplinary_Action
Previous_IntraDepartmental_Movement
Qualification
State_Of_Origin

In [28]:

[col for col in [dat for dat in data.columns if data[dat].dtypes != object] if data[col].std() == 0]

[]

In [29]:
data = pd.get_dummies(data, columns=obj)

In [30]:
data.columns

Index(['EmployeeNo', 'Last_performance_score', 'Previous_Award',
       'Promoted_or_Not', 'Targets_met', 'Training_score_average',
       'Trainings_Attended', 'Year_of_birth', 'Year_of_recruitment', 'dif',
       'Channel_of_Recruitment_0', 'Channel_of_Recruitment_1',
       'Channel_of_Recruitment_2', 'Division_0', 'Division_1', 'Division_2',
       'Division_3', 'Division_4', 'Division_5', 'Division_6', 'Division_7',
       'Division_8', 'Foreign_schooled_0', 'Foreign_schooled_1', 'Gender_0',
       'Gender_1', 'Marital_Status_0', 'Marital_Status_1', 'Marital_Status_2',
       'No_of_previous_employers_0', 'No_of_previous_employers_1',
       'No_of_previous_employers_2', 'No_of_previous_employers_3',
       'No_of_previous_employers_4', 'No_of_previous_employers_5',
       'No_of_previous_employers_6', 'Past_Disciplinary_Action_0',
       'Past_Disciplinary_Action_1', 'Previous_IntraDepartmental_Movement_0',
       'Previous_IntraDepartmental_Movement_1', 'Qualification_0',
       'Qualification_1', 'Qualification_2', 'Qualification_3',
       'State_Of_Origin_0', 'State_Of_Origin_1', 'State_Of_Origin_2',
       'State_Of_Origin_3', 'State_Of_Origin_4', 'State_Of_Origin_5',
       'State_Of_Origin_6', 'State_Of_Origin_7', 'State_Of_Origin_8',
       'State_Of_Origin_9', 'State_Of_Origin_10', 'State_Of_Origin_11',
       'State_Of_Origin_12', 'State_Of_Origin_13', 'State_Of_Origin_14',
       'State_Of_Origin_15', 'State_Of_Origin_16', 'State_Of_Origin_17',
       'State_Of_Origin_18', 'State_Of_Origin_19', 'State_Of_Origin_20',
       'State_Of_Origin_21', 'State_Of_Origin_22', 'State_Of_Origin_23',
       'State_Of_Origin_24', 'State_Of_Origin_25', 'State_Of_Origin_26',
       'State_Of_Origin_27', 'State_Of_Origin_28', 'State_Of_Origin_29',
       'State_Of_Origin_30', 'State_Of_Origin_31', 'State_Of_Origin_32',
       'State_Of_Origin_33', 'State_Of_Origin_34', 'State_Of_Origin_35',
       'State_Of_Origin_36'],
      dtype='object')

In [31]:
data.shape

(54808, 81)

In [32]:
tr = data[data['dif'] == 'train']
ts = data[data['dif'] == 'test']

In [33]:
tr.shape, train.shape, ts.shape, test.shape

((38312, 81), (38312, 20), (16496, 81), (16496, 19))

In [34]:
tr.head(2)

,EmployeeNo,Last_performance_score,Previous_Award,Promoted_or_Not,Targets_met,Training_score_average,Trainings_Attended,Year_of_birth,Year_of_recruitment,dif,Channel_of_Recruitment_0,Channel_of_Recruitment_1,Channel_of_Recruitment_2,Division_0,Division_1,Division_2,Division_3,Division_4,Division_5,Division_6,Division_7,Division_8,Foreign_schooled_0,Foreign_schooled_1,Gender_0,Gender_1,Marital_Status_0,Marital_Status_1,Marital_Status_2,No_of_previous_employers_0,No_of_previous_employers_1,No_of_previous_employers_2,No_of_previous_employers_3,No_of_previous_employers_4,No_of_previous_employers_5,No_of_previous_employers_6,Past_Disciplinary_Action_0,Past_Disciplinary_Action_1,Previous_IntraDepartmental_Movement_0,Previous_IntraDepartmental_Movement_1,Qualification_0,Qualification_1,Qualification_2,Qualification_3,State_Of_Origin_0,State_Of_Origin_1,State_Of_Origin_2,State_Of_Origin_3,State_Of_Origin_4,State_Of_Origin_5,State_Of_Origin_6,State_Of_Origin_7,State_Of_Origin_8,State_Of_Origin_9,State_Of_Origin_10,State_Of_Origin_11,State_Of_Origin_12,State_Of_Origin_13,State_Of_Origin_14,State_Of_Origin_15,State_Of_Origin_16,State_Of_Origin_17,State_Of_Origin_18,State_Of_Origin_19,State_Of_Origin_20,State_Of_Origin_21,State_Of_Origin_22,State_Of_Origin_23,State_Of_Origin_24,State_Of_Origin_25,State_Of_Origin_26,State_Of_Origin_27,State_Of_Origin_28,State_Of_Origin_29,State_Of_Origin_30,State_Of_Origin_31,State_Of_Origin_32,State_Of_Origin_33,State_Of_Origin_34,State_Of_Origin_35,State_Of_Origin_36
0,YAK/S/00001,12.5,0,0.0,1,41,2,1986,2011,train,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,YAK/S/00002,12.5,0,0.0,0,52,2,1991,2015,train,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [35]:
tr.Promoted_or_Not = tr.Promoted_or_Not.astype(int)

C:\Users\Mest\Anaconda3.2\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [36]:
tr.Promoted_or_Not.value_counts()

0    35071
1     3241
Name: Promoted_or_Not, dtype: int64

### Mods

In [37]:
tr.drop('dif', axis=1, inplace=True)
ts.drop('dif', axis=1, inplace=True)

C:\Users\Mest\Anaconda3.2\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [38]:
trID = tr.EmployeeNo
tsID = ts.EmployeeNo

X = tr.drop(['EmployeeNo', 'Promoted_or_Not'], axis=1)
y = tr.Promoted_or_Not
X_test1 = ts.drop(['EmployeeNo'], axis=1)

In [39]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# changes

In [40]:
from sklearn.ensemble import ExtraTreesClassifier,GradientBoostingClassifier,RandomForestClassifier
import xgboost
model = xgboost.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=500,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [41]:
from sklearn.metrics import log_loss,f1_score

In [42]:
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=500, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=True, subsample=1, verbosity=1)

In [43]:
pred = model.predict(X_test)
f1_score(y_test,pred)
f1_score(y_test,pred)

0.4840182648401826

In [44]:
model.fit(X, y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=500, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=True, subsample=1, verbosity=1)

In [45]:
X.shape

(38312, 78)

In [46]:
rsp = list(X)
X_test1 = X_test1[rsp]

In [47]:
pred1 = model.predict(X_test1)

In [48]:

done = pd.DataFrame({'EmployeeNo': tsID, 'Promoted_or_Not': pred1})
done.to_csv('try2a.csv', index=False)

In [49]:
done.Promoted_or_Not.value_counts()

0    15988
1      508
Name: Promoted_or_Not, dtype: int64

In [50]:
done.head()

    EmployeeNo  Promoted_or_Not
0  YAK/S/00005                0
1  YAK/S/00011                0
2  YAK/S/00015                0
3  YAK/S/00016                0
4  YAK/S/00017                0

In [51]:
sub.head()

    EmployeeNo  Promoted_or_Not
0  YAK/S/34385                1
1  YAK/S/27825                1
2  YAK/S/23870                1
3  YAK/S/54784                1
4  YAK/S/25058                1

In [52]:
done.to_csv('baseline10.csv', index=False)